<div class="jumbotron"> Page d'accueil <br />
   <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
   <h1>Bienvenue à la formation Focus</h1>

   <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
<div>