<!-- <td> TODO: Add properties to display with display_for </td> -->
<td>{{input_for "id" isNoLabel=true}}</td>
<td>{{input_for "name" isNoLabel=true}}</td>
<td>{{button "Delete" class="btnDelete"}}</td>